@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: url(cool-background.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    width: 90%;
    margin:auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;

}
.logo{
    cursor:pointer;
    border-radius: 50%;

}
.navbar ul li{
    list-style-type:none;
    display: inline-block;
    margin: 0 25px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(8, 6, 6);
    font-family:Readex Pro;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    transition: 0.5s ;
    background:rgb(75, 88, 146);
    border-radius: 4px;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    color:black;
    text-align:center;
}
.content h1{
    font-size: 65px;
}
.content p{
    margin: 20px auto;
    font-size: 30px;
    font-family:Readex Pro;
}
button{
    width: 200px;
    padding: 15px 0;
    border-radius: 35px;
    margin:20px;
    text-align:center;
    color: white;
    background-color:rgb(58, 73, 141); ;
    font-size: 17px;

font-family: Readex Pro;

 
}
button:hover{
    color: black;
    transition: 1s;
}
